

<div class="container">
	<h4>Server Room : Disk ::</h4>
	<div class="alert alert-info w-100">There is {{disklist|length}} disk(s) that are mounted and recognized in your system <a href="javascript:void(0)" id="alertHelper" class="text-info font-weight-bold">why my disk are not listed?</a>
		<div id="desc">
			<hr>
			<p class="mb-1">
				First and Lastly, we just list the disk that are recognized as storage device and <b>mounted</b> in your filesystem. you can make sure the disks are mounted. or you can try to mount it :
				<br><br>
				<code># mount [device] [directory]</code>
				<br><br>
				then <a href="javascript:void(0)" onclick="do_refresh()"><span class="fa fa-refresh"></span>Refresh</a> this page<br>
				take note that you need to be root (#), see <code>mount --help</code> or <code>man mount</code>
			</p>
		</div>
	</div>
	<script>
		$("#desc").hide()
		$("#alertHelper").click(function(){
			$("#desc").toggle(200)
		})
	</script>
	<div class="row mt-5">
			
			<div class="card-columns col">
				{%for x in disklist%}
				
				{{x|safe}}
				
			{%endfor%}
			
				</div>
			<div class="container mt-5">
				<h5>Block Devices</h5>
				<p>This is Block Device on your system based on <code>lsblk --fs</code> output</p>
				<div class="table-responsive p-2">
					<pre>{{raw_disk}}</pre>
				</div>
			</div>
</div>

